@import "../../styles/vars.scss";
.card {
  padding: 20px 30px;
  max-width: 210px;
  border-radius: 40px;
  border: 1px solid $border-color;
  background-color: #ffffff;
  cursor: pointer;
  transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.2s;

  &:hover {
    border-color: $border-color-hover;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(-10px);
  }

  & > * {
    margin-bottom: 14px;
  }

  .favorite {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.8;
    transition: all ease-in-out 0.2s;
    border-radius: 12px;
    border: solid 1px $border-color;

    &:hover {
      opacity: 1;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
      border-color: $border-color-hover;
    }
    img {
      border-radius: 12px;
    }
  }

  p {
    font-size: 13px;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price-info {
    display: flex;
    flex-direction: column;
    span {
      color: #bdbdbd;
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
    }
    b {
      font-size: 14px;
    }
  }

  button {
    background-color: transparent;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.8;
    transition: all ease-in-out 0.2s;
    &:hover {
      opacity: 1;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
